<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h1>Add a Dinosaur to <%= @park.name %></h1>
      <%= simple_form_for [@park, @dinosaur] do |f| %>
        <%= f.input :name %>
        <%= f.input :image_url %>
        <%= f.submit class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
</div>